In [ ]:
#functions
expenses_surgey = [10,89,43,32]
expenses_sundar = [34,45,54,234]

def add_expenses(person):
    s=0
    for i in range(0,len(person)):
        s = s+person[i]
    return s
print(add_expenses(expenses_sundar))

367

In [25]:
# n=3
# *
# * *
# * * *

for i in range(3):
    for j in range(0,i+1):
        print("*",end="")
    print("")

*
**
***

In [28]:
for i in range(3):
    for j in range(3-(i+1)):
        print(" ",end="")
    for i in range(i+1):
        print("* ",end="")
    print("")

  *
 * *
* * *

0

11

222

In [ ]:
#dictionary Example -- frequency
sentence = "apple banana apple grape banana apple"
words = sentence.split(" ")
freq = {}

for word in words:
    freq[word] = sentence.count(word)
print(freq)

{'apple': 3, 'banana': 2, 'grape': 1}

In [ ]:
#frequncy of numbers
l = [1,2,3,4,4,3,2,1,34,2,4,3,2,4,5,5,6,8,4,3,2,5,6,4]
f ={}

for i in l:
    if i not in f:
        f[i] = 1
    else:
        f[i] += 1
print(f)

{1: 2, 2: 5, 3: 4, 4: 6, 34: 1, 5: 3, 6: 2, 8: 1}

In [53]:
s = " my name is venkey can i go to that place for a vacation"

words = s.split(' ')
f = {}

for i in words:
    if i not in f:
        f[i] = 1
    else:
        f[i] +=1
print(f)

{'': 1, 'my': 1, 'name': 1, 'is': 1, 'venkey': 1, 'can': 1, 'i': 1, 'go': 1, 'to': 1, 'that': 1, 'place': 1, 'for': 1, 'a': 1, 'vacation': 1}

In [60]:
s = " my name is venkey can i go      to that place for a vacation"
a = s.strip(' ')
print(a)

my name is venkey can i go      to that place for a vacation

In [8]:
l=[1,2,3,2,1,2,3,2,1,3,4,5,6,7,8,9,8,7,6,5,4,3,2,1,2,3,4,5,6,7,823,45,67,89]
d= {}
for i in l:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
for i,j in d.items():
    if j>=1:
        print(i)
    else:
        pass

1
2
3
4
5
6
7
8
9
823
45
67
89

In [4]:
for i in range(1,5):
    for j in range(i):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

In [9]:
for i in range(5,1,-1):
    for j in range(1,i):
        print("*",end="")
    print("\n")

****

***

**

*

In [13]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end='')
    print("\n")

1

12

123

1234

In [3]:
x=1
for i in range(1,5):
    for j in range(i):
        print(x,end=" ")
        x +=1
    print("")

1
2 3
4 5 6
7 8 9 10

In [8]:
# 1
# 12
# 123
# 1234
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end="")
    print("")

1
12
123
1234